html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  */
/* Body */

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*  */
/* Header */

header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 3%;
  justify-content: space-evenly;
  /* UI */
  background: #ffffff;
  opacity: 1;
}
.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 10%;
}
.header-heading {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  font: normal normal bold 16px/22px Helvetica;

  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
.header-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 40%;
}
.header-link {
  text-align: left;
  font: normal normal 300 12px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}
.header-button {
  /* UI */
  background-color: #c1f7d5;
  border: none;
  border-radius: 100px;
  height: 40px;
  opacity: 1;
}
.header-button-text {
  /* UI */
  text-align: left;
  font: normal normal bold 16px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}

/*  */
/* The issue */

.the-issue-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 100vw;
  height: 600px;
  align-items: center;
  background-image: url("./assets/assets/about-us/annie-spratt-427339-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 1;
}
.hashtag {
  width: 181px;
  height: 136px;
  margin-left: 32px;
  align-self: flex-start;
  /* UI */
  text-align: left;
  font-family: flood-std, sans-serif;
  font-size: 44px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.the-issue-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 279px;
  height: 264px;
  background-color: #ffffff;
  opacity: 1;
}
.heading-box {
  display: flex;
  align-items: center;
  width: 160px;
  height: 40px;
}
.blue-box {
  opacity: 1;
  background-color: #354463;
}

.the-issue-box {
  transform: translate(0px, -15px);
}
.small-heading {
  width: 158px;
  height: 18px;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  opacity: 1;
}
.white-text {
  color: #ffffff;
}
.the-issue-para {
  overflow: scroll;
  width: 248px;
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}

/*  */
/* mission & values */

.mission-values-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 1100px;
  /* UI */
  background: #354463 no-repeat;
  opacity: 1;
}

.section-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 100%;
  margin-bottom: 20px;
}
.mission-values-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}
@media all and (max-width: 330px) and (min-width: 286px) {
  .mission-values-section {
    height: 90vh;
  }
}
@media all and (max-width: 285px) {
  .mission-values-section {
    height: 160vh;
  }
}
.white-box {
  background-color: #ffffff;
  opacity: 1;
}
.blue-text {
  color: #354463;
  opacity: 1;
}
.mission-values-para {
  width: 95%;
  height: 134px;
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.mission-values-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin-top:30px; */
  padding-left: 15px;
  padding-right: 15px;
  column-gap: 25px;
  opacity: 1;
}
.mission-values-item {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
  width: 45%;
}
.icon {
  opacity: 1;
}
.pointer-font {
  text-align: left;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.mission-values-item-content {
  overflow: hidden;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
}
.person {
  width: 38px;
  height: 40px;
  background-image: url("./assets/assets/about-us/Icon\ person.png");
  background-size: cover;
}
.earth {
  width: 40px;
  height: 40px;
  background-image: url("./assets/assets/about-us/Icon\ earth.png");
  background-size: cover;
}
.sun {
  width: 40px;
  height: 40px;
  background-image: url("./assets/assets/about-us/Icon\ sun.png");
  background-size: cover;
}
.flower {
  width: 33px;
  height: 40px;
  background-image: url("./assets/assets/about-us/Icon\ flower.png");
  background-size: cover;
}
.heart {
  width: 40px;
  height: 39px;
  background-image: url("./assets/assets/about-us/Icon\ heart.png");
  background-size: cover;
}
.hand {
  width: 37px;
  height: 40px;
  background-image: url("./assets/assets/about-us/Icon\ hand.png");
  background-size: cover;
}
.people {
  width: 40px;
  height: 31px;
  background-image: url("./assets/assets/about-us/Icon\ people.png");
  background-size: cover;
}
.book {
  width: 40px;
  height: 31px;
  background-image: url("./assets/assets/about-us/Icon\ book.png");
  background-size: cover;
}

/*  */
/* Our Team */

.our-team-section {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  /* height: 1000px; */
  justify-content: space-evenly;
  align-items: center;
}
.our-team-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.big-heading-text {
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  opacity: 1;
}
.our-team-para {
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

.our-team-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 20px;
}
.our-team-person {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin-top: 20px;
  /* width: 40%; */
  width: 144px;
  height: 208px;
  opacity: 1;
  background-size: contain;
}
.our-team-person-caption {
  width: 144px;
  height: 64px;
  background: #354463 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #ffffff;
  opacity: 1;
}

.first {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.07-PM.png");
}
.second {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.17-PM.png");
}
.third {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.37-PM.png");
}
.fourth {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.04-PM.png");
}
.fifth {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM.png");
}
.sixth {
  background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.37.13-PM.png");
}

/*  */
/* Our Impact */

.our-impact-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 650px;
  /* background-image: url("./assets/assets/about-us/Screenshot\ from\ 2023-01-09\ 18-05-21.png"); */
  background: linear-gradient(
      rgba(33, 43, 99, 0.5) 100%,
      rgba(21, 62, 247, 0.5) 100%
    ),
    url("./assets/assets/about-us/Screenshot\ from\ 2023-01-09\ 18-05-21.png");
  background-position: center;
  opacity: 1;
}
.our-impact-container {
  margin-top: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.our-impact-item {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}
.our-impact-number {
  align-self: center;
  font-family: flood-std, sans-serif;
  font-size: 44px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.our-impact-content {
  text-align: center;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/*  */
/* action */

.action-section {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: #354463;
  opacity: 1;
}

.action-heading-text {
  display: flex;
  flex-flow: row nowrap;

  margin-top: 20px;
  width: 85%;
  text-align: center;
  font-family: flood-std, sans-serif;
  font-size: 44px;
  line-height: 46px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}
.background-img-next {
  width: 45%;
  height: 25%;
  align-self: center;
  translate: 0px 250px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  background-image: url("./assets/assets/about-us/Union\ 5.png");
  background-position: center;
  border-radius: 50%;
  opacity: 1;
}

.action-heading {
  translate: 0px 20px;
}
.action-articles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  column-gap: 20px;
}
.first-article {
  margin-top: 40px;
  width: 83%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.next-article {
  display: none;
}
.background-img {
  display: flex;
  justify-content: flex-end;
  height: 224px;
  width: 100%;
  background-image: url("./assets/assets/about-us/Image.png");
  background-size: cover;
}

.action-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  opacity: 1;
}
.action-para-heading {
  width: 80%;
  align-self: center;
}
.action-para {
  width: 80%;
}
.dots {
  margin-top: 20px;
  margin-bottom: 20px;
}
.open-dot {
  width: 13px;
  height: 13px;
  background-color: #354463;
  border: 0.5px solid white;
  border-radius: 10px;
  display: inline-block;
}
.dot {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

/*  */
/* subscribe */

.subscribe-article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  width: 100vw;
  height: 216px;
  background-color: #c1f7d5;
  opacity: 1;
}
.subscribe-para {
  width: 90vw;
  height: 78px;
  align-self: center;
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}
#input-email {
  height: 40px;
  border-radius: 100px;
  width: 70vw;
  border: none;
  text-align: center;
}
.subscribe-button {
  background: #354463 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 100px;
  opacity: 1;
  width: 29vw;
  height: 40px;
}
.subscribe-button-text {
  font: normal normal bold 16px/19px Helvetica;
  letter-spacing: 0px;
  color: #c1f7d5;
}

/*  */
/* Footer */

.footer {
  width: 100vw;
  height: 600px;
  padding-left: 30px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
  align-items: center;
  align-content: space-around;
  column-gap: 70px;
}
.footer-heading {
  line-height: 26px;
  width: 30%;
}
.footer-pointer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}
.footer-empty {
  width: 10%;
}
h3 {
  text-align: left;
  font: normal normal normal 11px/13px Helvetica;
  letter-spacing: 0.44px;
  color: #354463;
  opacity: 1;
}
.left-text {
  text-align: left;
}
a {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

/*  */
/*  */
/*  */
/*  */
/* tablet-layout */
/*  */
/*  */
/*  */
/*  */
/*  */

@media all and (min-width: 426px) and (max-width: 912px) {
  header {
    height: 20vw;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    row-gap: 30px;
    width: 100%;
    justify-content: space-evenly;
    /* UI */
    background: #ffffff;
    opacity: 1;
  }
  @media all and (max-width: 485px) {
    header {
      width: 100%;
      height: 39vw;
    }
  }
  @media all and (min-width: 486px) and (max-width: 600px) {
    header {
      height: 25vw;
    }
  }
  .header-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 70%;
  }
  .header-heading {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    text-align: left;
    font: normal normal bold 2ch Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }

  .header-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    column-gap: 10px;
  }
  .header-link {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
    text-align: left;
  }
  .header-button {
    /* UI */
    width: 30%;
    background-color: #c1f7d5;
    border: none;
    border-radius: 100px;
    height: 40px;
    opacity: 1;
  }
  .header-button-text {
    /* UI */
    text-align: left;
    font: normal normal bold 16px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }

  /*  */
  /* the-issue */

  .the-issue-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 608px;
    align-items: center;
    background: linear-gradient(
        rgba(33, 43, 99, 0.5) 100%,
        rgba(21, 62, 247, 0.5) 100%
      ),
      url("./assets/assets/about-us/annie-spratt-427339-unsplash@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: 1;
  }
  .hashtag {
    width: 181px;
    height: 136px;
    margin-left: 32px;
    align-self: flex-start;
    /* UI */
    text-align: left;
    font-family: flood-std, sans-serif;
    font-size: 44px;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .the-issue-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 83%;
    height: 40%;
    background-color: #ffffff;
    opacity: 1;
  }
  .heading-box {
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
  }
  center .blue-box {
    opacity: 1;
    background-color: #354463;
  }

  .the-issue-box {
    transform: translate(30px, -15px);
    align-self: flex-start;
  }
  .small-heading {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    opacity: 1;
  }
  .white-text {
    color: #ffffff;
  }
  .the-issue-para {
    overflow: scroll;
    width: 66%;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }

  /*  */
  /* Mission & values */

  .mission-values-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 900px;
    /* UI */
    background: #354463 no-repeat;
    opacity: 1;
  }
  @media all and (max-width: 505px) {
    .mission-values-section {
      height: 100%;
    }
  }

  .section-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    margin-bottom: 20px;
  }
  .white-box {
    background-color: #ffffff;
    opacity: 1;
  }
  .blue-text {
    color: #354463;
    opacity: 1;
  }
  .mission-values-para {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    /*  */
    color: #ffffff;
    opacity: 1;
  }
  .mission-values-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* column-gap: 25px; */
    opacity: 1;
  }
  .mission-values-item {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin-top: 20px;
    width: 29%;
  }
  .icon {
    opacity: 1;
  }
  .pointer-font {
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .mission-values-item-content {
    overflow: hidden;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
    opacity: 1;
  }
  .person {
    width: 38px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ person@2x.png");
    background-size: cover;
  }
  .earth {
    width: 40px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ earth@2x.png");
    background-size: cover;
  }
  .sun {
    width: 40px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ sun@2x.png");
    background-size: cover;
  }
  .flower {
    width: 33px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ flower@2x.png");
    background-size: cover;
  }
  .heart {
    width: 40px;
    height: 39px;
    background-image: url("./assets/assets/about-us/Icon\ heart@2x.png");
    background-size: cover;
  }
  .hand {
    width: 37px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ hand@2x.png");
    background-size: cover;
  }
  .people {
    width: 40px;
    height: 31px;
    background-image: url("./assets/assets/about-us/Icon\ people@2x.png");
    background-size: cover;
  }
  .book {
    width: 40px;
    height: 31px;
    background-image: url("./assets/assets/about-us/Icon\ book@2x.png");
    background-size: cover;
  }

  /*  */
  /* our-team */

  .our-team-section {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    /* height: 1000px; */
    justify-content: space-evenly;
    align-items: center;
  }
  .our-team-article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }
  .big-heading-text {
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    opacity: 1;
  }
  .our-team-heading {
    width: 200%;
  }
  .our-team-para {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }

  .our-team-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .our-team-person {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 40%;
    /* width: 144px; */
    height: 272px;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .our-team-person-caption {
    width: 35vw;
    height: 48px;
    translate: 30px 20px;
    background: #354463 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
    opacity: 1;
  }

  .first {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.07-PM@2x.png");
  }
  .second {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.17-PM@2x.png");
  }
  .third {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.37-PM@2x.png");
  }
  .fourth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.04-PM@2x.png");
  }
  .fifth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM@2x.png");
  }
  .sixth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.37.13-PM@2x.png");
  }

  /*  */
  /* our impact */

  .our-impact-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 694px;
    /* background-image: url("./assets/assets/about-us/Screenshot\ from\ 2023-01-09\ 18-05-21.png"); */
    background: linear-gradient(
        rgba(33, 43, 99, 0.5) 100%,
        rgba(21, 62, 247, 0.5) 100%
      ),
      url("./assets/assets/about-us/Screenshot\ from\ 2023-01-10\ 12-49-57.png");
    background-position: center;
    opacity: 1;
  }
  .our-impact-heading {
    width: 86%;
    text-align: center;
  }
  .our-impact-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 15px;
    row-gap: 20px;
  }
  .our-impact-item {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .our-impact-number {
    align-self: center;
    font-family: flood-std, sans-serif;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .our-impact-content {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  /*  */
  /* Action */

  .action-section {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background: #354463;
    opacity: 1;
    overflow-x: hidden;
    /* overflow-inline:hidden; */
  }

  .action-heading-text {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    width: 76%;
    text-align: left;
    font-family: flood-std, sans-serif;
    font-size: 44px;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
  }
  .background-img-next {
    width: 64px;
    height: 64px;
    align-self: center;
    translate: 0px 0px;
    background: #c1f7d5 0% 0% no-repeat padding-box;
    background-image: url("./assets/assets/about-us/Union\ 5@2x.png");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    opacity: 1;
  }
  .action-heading {
    translate: 0px 20px;
  }
  .action-articles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* width: 70%; */
    padding-bottom: 30px;
    margin-left: 40vw;
    column-gap: 20px;
  }
  .action-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 34%;
  }
  .background-img {
    display: flex;
    justify-content: flex-end;
    height: 37vw;
    width: 37vw;
    background-image: url("./assets/assets/about-us/Image@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .action-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    opacity: 1;
  }
  .action-para-heading {
    width: 95%;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    align-self: center;
  }
  .action-para {
    width: 95%;
  }
  .dots {
    display: none;
  }

  /*  */
  /* subscribe */

  .subscribe-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100vw;
    height: 216px;
    background-color: #c1f7d5;
    opacity: 1;
  }
  .subscribe-para {
    margin-left: 50px;
    width: 70vw;
  }
  #input-email {
    margin-left: 50px;
    width: 50vw;
  }
  .subscribe-button {
    margin-left: 50px;
    width: 20vw;
  }
  .subscribe-button-text {
    font: normal normal bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #c1f7d5;
  }

  /*  */
  /* footer */

  .footer {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-heading {
    grid-row: 1/3;
    font-size: 14px;
  }
  .footer-empty {
    display: none;
  }
  .footer-pointer {
    width: 100%;
  }
  .motto {
    font-size: 24px;
    width: 30%;
  }
}

/*  */
/*  */
/*  */
/* Desktop-view */
/*  */
/*  */
/*  */

@media all and (min-width: 913px) {
  body {
    width: 97.6vw;
    /* height: 100vh; */
  }
  header {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 3%;
  }

  .header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    column-gap: 10%;
  }
  .header-heading {
    width: 40%;
    font: normal normal bold 18px/22px Helvetica;

    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }
  .header-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
  }
  .header-link {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
  }
  .header-button {
    width: 30%;
  }
  .header-button-text {
    /* UI */
    font: normal normal bold 18px/22px Helvetica;
  }

  /*  */
  /* the-issue-*/

  .the-issue-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 400px;
    align-items: center;
    background: linear-gradient(
        rgba(33, 43, 99, 0.5) 100%,
        rgba(21, 62, 247, 0.5) 100%
      ),
      url("./assets/assets/about-us/annie-spratt-427339-unsplash@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: 1;
  }
  .hashtag {
    width: 20vw;
    height: 28vh;
    margin-top: 100px;
    align-self: center;
    /* UI */
    font-family: flood-std, sans-serif;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .the-issue-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    height: 60%;
    translate: 0px 130px;
    background-color: #ffffff;
    opacity: 1;
  }
  .heading-box {
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
  }
  .blue-box {
    opacity: 1;
    background-color: #354463;
  }

  .the-issue-box {
    transform: translate(0px, -15px);
  }
  .small-heading {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    opacity: 1;
  }
  .white-text {
    color: #ffffff;
  }
  .the-issue-para {
    overflow: hidden;
    width: 90%;
    height: 100%;
    text-align: left;
    font: normal normal bold 28px/32px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
  }

  /*  */
  /* mission & values */

  .mission-values-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 900px;
    /* UI */
    background: #354463 no-repeat;
    opacity: 1;
  }

  .section-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    margin-bottom: 20px;
  }
  .white-box {
    background-color: #ffffff;
    opacity: 1;
  }
  .blue-text {
    color: #354463;
    opacity: 1;
  }
  .mission-values-para {
    font: normal normal bold 44px/56px Helvetica;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .mission-values-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* column-gap: 25px; */
    opacity: 1;
  }
  .mission-values-item {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin-top: 30px;
    width: 22%;
  }
  .icon {
    opacity: 1;
  }
  .pointer-font {
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .mission-values-item-content {
    overflow: hidden;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
    opacity: 1;
  }
  .person {
    width: 38px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ person@2x.png");
    background-size: cover;
  }
  .earth {
    width: 40px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ earth@2x.png");
    background-size: cover;
  }
  .sun {
    width: 40px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ sun@2x.png");
    background-size: cover;
  }
  .flower {
    width: 33px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ flower@2x.png");
    background-size: cover;
  }
  .heart {
    width: 40px;
    height: 39px;
    background-image: url("./assets/assets/about-us/Icon\ heart@2x.png");
    background-size: cover;
  }
  .hand {
    width: 37px;
    height: 40px;
    background-image: url("./assets/assets/about-us/Icon\ hand@2x.png");
    background-size: cover;
  }
  .people {
    width: 40px;
    height: 31px;
    background-image: url("./assets/assets/about-us/Icon\ people@2x.png");
    background-size: cover;
  }
  .book {
    width: 40px;
    height: 31px;
    background-image: url("./assets/assets/about-us/Icon\ book@2x.png");
    background-size: cover;
  }

  /*  */
  /* our-team */

  .our-team-section {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    /* height: 1000px; */
    justify-content: space-evenly;
    align-items: center;
  }
  .our-team-article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }
  .big-heading-text {
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    opacity: 1;
  }
  .our-team-heading {
    width: 200%;
  }
  .our-team-para {
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
  }

  .our-team-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .our-team-person {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 30%;
    /* width: 144px; */
    height: 272px;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .our-team-person-caption {
    width: 25vw;
    height: 48px;
    translate: 40px 20px;
    background: #354463 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
    opacity: 1;
  }

  .first {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.07-PM@2x.png");
  }
  .second {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.17-PM@2x.png");
  }
  .third {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.35.37-PM@2x.png");
  }
  .fourth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.04-PM@2x.png");
  }
  .fifth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM@2x.png");
  }
  .sixth {
    background-image: url("./assets/assets/about-us/Screen-Shot-2018-10-04-at-9.37.13-PM@2x.png");
  }

  /*  */
  /* our impact */

  .our-impact-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 500px;
    background: linear-gradient(
        rgba(33, 43, 99, 0.5) 100%,
        rgba(21, 62, 247, 0.5) 100%
      ),
      url("./assets/assets/about-us/Screenshot\ from\ 2023-01-10\ 12-49-57.png");
    background-position: center;
    opacity: 1;
  }
  .our-impact-heading {
    width: 86%;
    text-align: center;
  }
  .our-impact-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 15px;
    row-gap: 20px;
  }
  .our-impact-item {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 22%;
  }
  .our-impact-number {
    align-self: center;
    font-family: flood-std, sans-serif;
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .our-impact-content {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  /*  */
  /* Action */

  .action-section {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background: #354463;
    opacity: 1;
    overflow-x: hidden;
    /* overflow-inline:hidden; */
  }

  .action-heading-text {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    width: 50%;
    text-align: left;
    font-family: flood-std, sans-serif;
    font-size: 44px;
    line-height: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
  }
  .background-img-next {
    width: 84px;
    height: 54px;
    align-self: center;
    translate: 0px 0px;
    background: #c1f7d5 0% 0% no-repeat padding-box;
    background-image: url("./assets/assets/about-us/Union\ 5@2x.png");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    opacity: 1;
  }
  .action-heading {
    translate: 0px 20px;
  }
  .action-articles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* width: 70%; */
    padding-bottom: 30px;
    margin-left: 40vw;
    column-gap: 20px;
  }
  .action-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 34%;
  }
  .background-img {
    display: flex;
    justify-content: flex-end;
    height: 37vw;
    width: 37vw;
    background-image: url("./assets/assets/about-us/Image@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .action-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    opacity: 1;
  }
  .action-para-heading {
    width: 95%;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    align-self: center;
  }
  .action-para {
    width: 95%;
  }
  .dots {
    display: none;
  }

  /*  */
  /* subscribe */

  .subscribe-article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 216px;
    background-color: #c1f7d5;
    opacity: 1;
  }
  .subscribe-para {
    margin-left: 50px;
    width: 30vw;
  }
  #input-email {
    margin-left: 50px;
    width: 30vw;
  }
  .subscribe-button {
    margin-left: 50px;
    width: 15vw;
  }
  .subscribe-button-text {
    font: normal normal bold 16px/19px Helvetica;
    letter-spacing: 0px;
    color: #c1f7d5;
  }

  /*  */
  /* footer */

  .footer {
    height: 500px;
    width: 100vw;
    margin-top: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5px;
  }

  .footer-heading {
    width: 20%;
    font-size: 12px;
  }
  .footer-empty {
    display: none;
  }
  .footer-pointer {
    width: 20%;
  }
  h3 {
    font-size: 12px;
  }
  a {
    font-size: 13px;
  }
  .motto {
    align-self: center;
    font-size: 22px;
    line-height: 24px;
    width: 10%;
  }
}

/* * {
  border: 1px solid red;
} */
